@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    padding-top: 30px;
    background: #CCAFE6;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .container {
    width: 1200px;
    margin-top: 15px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.indicator {
    width: 80%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 24px 30px;
}
.indicator .line {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    background: #ddd;
    width: 100%;
    left: 0;
    z-index: 10;

}
.indicator .line span {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 25%;
    background: #010326;
}

.indicator p {
    position: relative;
    z-index: 20;
    width: 40px;
    height: 40px;
    border: 4px solid#ddd;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600px;
    border-radius: 50%;
    transition: .35;
}

.indicator p.active {

    border-color: #010326;
    color: black;

}

.tab {
    display: none;
}
.tab.show{
    display: block;
}
.tab p {
    margin: 5px 30px 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
}
.tab h1 {

    margin: 20px 30px 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 52px;

    color: #010326;
}

.tab h2 {

    margin: 20px 30px 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 52px;
    text-align: center;

    color: #010326;
}

form .tab .form {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

form label {
    margin-left: 30px;
}

.tab .form input {
    width: 91%;;
    margin: 10px 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

form .btn {
    display: flex;
    justify-content: flex-end;
    align-items: left;
    margin: 25px;
}

.btn button {
    padding: 10px 30px;
    border: none;
    outline: none;
    margin-left: 18px;
    cursor: pointer;
    border-radius: 50px;
}

 .btn button.back {
    background :white ;
    border-color: #010326;
    border-width: 2pt;
    border-style: solid;
    outline: #010326;
    color: #010326;
}

.btn button.next {
    background: #010326;
    color: white;
}

.download {
    margin: 30px;
}

.download button {
    background: #010326;
    color: white;
    border-radius: 25px;
    border: none;
    outline: none;
    padding: 10px 30px;
    cursor: pointer;
}

.signup button{
    cursor: pointer;
}

.form select.dropdn {
    background-color: gray;
    color: white;
    padding: 5px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    width: 150px;
    margin-left: auto;

}

.signup {
    margin: 30px;
}

.signup button {

    background: orange;
    color: #010326;
    border-radius: 25px;
    border: none;
    outline: none;
    padding: 10px 30px;
}


.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 100%;
}

.row-select {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.col {
    width: 50%;
}
.col-form {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.col-select {
    display: flex;
    flex-direction: column;
    width: 25%;
}

form label {
    margin-left: 30px;
}

input.form-control {
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid;
    border-color: #CCC;
    width: 100%;
    margin: 10px 40px;
    padding: 10px;
}

.mt-1{
    margin: 10px 40px;
}


label.form-check-label {
    margin-right: 20px;
    margin-left: 5px;
}

.form-outer {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

button#upload-btn {
    padding: 8px;
    background: navy;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
    width: 30%;
}

.container-upload {
    margin: 30px;
    box-sizing: border-box;
    border: dashed;
    border-color: darkblue;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.container-upload .upload {
    padding: 10px;
    width: 30%;
}

.container-upload .upload {
    padding: 10px;
    background: white;
    width: 30%;
    position: relative;
}
.container-upload .img-area {
    position: relative;
    width: 12%;
    height: 140px;
    background: gray;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-area .icon{
    font-size: 80px;
}


.img-area img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

input#accept {
    margin-left: 30px;
}

.container-img {
    margin-left: 30px;
    box-sizing: border-box;
    border: solid;
    width: 100px;
    height: 140px;
    border-width: thin;
}

.container-img .img-show {
    position: relative;
    width: 100%;
    height: 100%;
    background: gray;
    margin-bottom: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

i.bx.bx-image-alt.img {
    font-size: 40px;
}

.fill-in {
    margin-top: 10px;
    box-sizing: border-box;
    border: solid;
    margin-left: 30px;
    border-width: thin;
    width: 50%;
    height: 30px;
}

.mrgn {
    margin-left: 30px;
}

select.form-select {
    width: 60%;
    margin: 10px 10px 10px 40px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.hidden{
    display: none;
}
